body{	
	background:#eee;
	font:15px/20px Arial,sans-serif;	
	color:#000;
	position:relative;
	min-width:960px;
}
html,body {height:100%;}
/* Global Structure---------------------------------------- */
.main{margin:0 auto;position:relative;width:960px;}
/*----- txt,links,lines,titles -----*/
h1,h2,h3{
	font:normal 18px/18px Tahoma,Arial,sans-serif;	
	color:#157dfb;
}
h3{margin:20px 0}
a{color:#157dfb;outline:none;cursor:pointer;text-decoration:underline;}
a:hover{text-decoration:none}
a [class^="icon-"]:before,a [class*=" icon-"]:before,span [class^="icon-"]:before,span [class*=" icon-"]:before{text-decoration:none;cursor:pointer!important}
p{margin-bottom:15px;text-align:justify}

.inline{display:inline-block;}
.fleft{float:left}
.fright{float:right}
.clear{clear:both;line-height:0;font-size:0;overflow:hidden;height:0;width:100%;}
.wrapper{width:100%;overflow:hidden;position:relative;}
.padtop{margin-top:20px}
.spacing{margin-right:5px!important}
.nopad{margin:0!important}
/*********************************header*************************************/
header{background:#157dfb;height:50px;position:relative;z-index:99;}
header .logo {
	float:left;
	text-indent:-5000px; 	 
	background:url(../images/logo.png) 0 0 no-repeat;
	width:350px;
	height:48px;
	display:block;
	margin:1px 0;
}
header .logo.mini{width:150px;}
header h1{padding-top:12px;color:#fff;font-size:16px;}
nav{
	position:relative;
	z-index:99;
	height:44px;
	background:#fff;
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.15);	
	margin:0 auto;	
}
hr{border:none;background:#157dfb;height:1px;margin:3px 10px;}
/********************** Content ************************/
section#content{padding:0px 0 50px;}
input,textarea,select,label,a.button {
	display:inline-block;	
	vertical-align:middle;	
	font:normal 18px/18px Tahoma,Arial,sans-serif;
	border:none;
}
input[type="submit"],input[type="reset"],input[type="button"]{		
	background:#157dfb;    
	color:#fff;		
	padding:6px 15px;	
	border-radius:8px;
	-webkit-transition:background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-transition:background 0.5s ease;
	transition:background 0.5s ease;	
	margin:2px 0 0 0;	
}
input[type="button"].reset {background:#fff;color:#000}
input[type="reset"]{background:#fff;color:#000}
a.button{line-height:25px;padding:6px 15px;text-decoration:none;}
a.button.back{padding-top:14px}
input[type="text"],input[type="password"],input[type="file"],textarea,select{
	background:#fff;		
	padding:6px;	
	margin:0 0 15px;	
	outline:none;
	width:240px;
	border:1px solid #c6c6c6;
	border-radius:8px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
@-moz-document url-prefix(){
  input[type="text"], input[type="password"], input[type="file"], textarea, select {
    padding:8px 6px;
  }
  input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 8px 15px 10px;
  }
  select{width:256px}
}
input[type="text"]:focus,input[type="password"]:focus,input[type="file"]:focus,textarea:focus,select:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="file"]{padding:2px 6px;width:auto}
textarea{margin:15px;width:90.8%;height:auto;overflow:auto;resize:none}
select{padding:5px 4px;line-height:32px;height:auto;width:254px}
select.auto{width:auto}
select.mini{width:128px}
/* Opera */
noindex:-o-prefocus,input[type="submit"],input[type="reset"],input[type="button"]{padding:8px 15px}
noindex:-o-prefocus,input[type="text"],input[type="password"]{padding:6px}
noindex:-o-prefocus,input[type="file"]{padding:6px}
noindex:-o-prefocus, a.button{padding:9px 15px 8px;}
noindex:-o-prefocus, select{padding:6px 4px}
/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0){
	input[type="submit"],input[type="reset"],input[type="button"]{padding:9px 15px 10px}
	input[type="text"],input[type="password"],textarea{padding:7px 6px;}
	input[type="file"]{padding:4px 6px}
	select{padding:6px;line-height:32px}
}
/* IE */
:root input[type="submit"],:root input[type="reset"],:root input[type="button"]{ padding:10px 15px\0/;}
:root select{padding:5px 4px\0/;}

.filter{background:rgba(198,198,198,0.4);border-radius:8px;padding:15px 15px 15px 0}
label{padding-top:10px;vertical-align:top;min-width:110px;margin:0 15px;}
label.auto{min-width:5px!important}
label[disabled]{color:#a99f9a}

input.nopad[type="text"],input.nopad[type="password"],textarea.nopad,select.nopad{margin:0}
input.data[type="text"]{width:80px!important;margin-bottom:0;}
input.mini{width:80px}
input.fullline{width:692px}
select.fullline{width:706px}
input.normal,select.normal{border-width:0;}

input[type="text"]:hover,input[type="password"]:hover,textarea:hover,select:hover{border-color:#a99f9a}
input[disabled],input[disabled="disabled"],select[disabled],textarea[disabled],input[readonly],input[readonly="true"],select[readonly],textarea[readonly]{
	border-color:#a99f9a;
	color:#a99f9a;
	cursor: not-allowed;
}

.input-append,.input-prepend{
	display:inline-block;
	margin-bottom:15px;
	vertical-align:middle;
	position:relative;
	font-size:0;
	white-space:nowrap;
	border:1px solid #a99f9a;
	border-radius:8px;
}
.input-append.nopad,.input-prepend.nopad,.k-picker-wrap{margin-bottom:0;}	
.input-append.red,.input-prepend.red,a.red{color:#7f5050;background-color:#fff0f0;}
.input-append.red > input,.input-prepend.red > input {color:#7f5050;background-color:#fff0f0;}
.input-append input,.input-prepend input,.input-append select,.input-prepend select{	
	margin:0;
	display:inline-block;
	border-radius:0 6px 6px 0;
}
.input-append input,.input-append select{	
	color:#a99f9a;
	border-radius:6px 0 0 6px;	
	cursor: not-allowed;	
}
.input-append input:focus,.input-prepend input:focus,.input-append select:focus,.input-prepend select:focus{z-index:2;}

.input-append .add-on,.input-prepend .add-on{
	display:inline-block;
	width:auto;
	height:18px;
	min-width:24px;
	padding:8px 6px 9px;
	font:normal 18px/18px FontAwesome;
	text-align:center;
	text-shadow:0 1px 0 #fff;
	background-color:#dedede;
	vertical-align:top;
	border-radius:0;
	border-color:inherit;
	border-style:solid;
	border-width: 0 1px 0 0;
}
.input-append .add-on{border-width: 0 0 0 1px;}
noindex:-o-prefocus,.input-append .add-on,.input-prepend .add-on{padding:8px 6px;}
@media screen and (-webkit-min-device-pixel-ratio:0){
	.input-append .add-on,.input-prepend .add-on{padding:9px 6px;}
}
:root .input-append .add-on,:root .input-prepend .add-on{padding:8px 6px\0/;}

.input-prepend .add-on:first-child{border-radius:6px 0 0 6px;}
.input-append .add-on:last-child{border-radius:0 6px 6px 0;}

.input-append:hover,.input-prepend:hover{border-color:#a99f9a}
.input-append:hover .add-on,.input-prepend:hover .add-on{background:#c5bebb}

.input-append .active,.input-prepend .active{background:#d9e8c2;border-color:#95bf52;}

.input-prepend.input-append input,.input-prepend.input-append select{border-radius:0;}
.input-prepend.input-append .add-on:first-child{border-radius:6px 0 0 6px;}
.input-prepend.input-append .add-on:last-child{border-radius:0 6px 6px 0;}

input[type="submit"]:hover,input[type="reset"]:hover,input[type="button"]:hover{background:#121212;color:#fff}
input[type="button"]:hover{color:#b8d5f8}
a.button:hover,.button:hover{color:#000}
a.button i{line-height:18px;min-width:14px;width:14px\0/}
a.button [class^="icon-"]:before,a.button[class*=" icon-"]:before{cursor:pointer!important}
input[type="submit"][disabled],input[type="reset"][disabled],input[type="button"][disabled]{background:#F5F5F5}
a.button.disabled,a.button.disabled [class^="icon-"]:before,a.button.disabled [class*=" icon-"]:before{cursor:default!important}

.k-datepicker, .k-timepicker{background:transparent!important;width:146px!important;margin-bottom:15px;}
.k-picker-wrap{border:1px solid #c6c6c6!important;padding-right:0!important;border-radius:8px!important;}
.k-picker-wrap.k-state-hover{border-color:#a99f9a!important}
.k-picker-wrap.k-state-hover,.k-picker-wrap.k-state-focused{box-shadow:none!important;}
.k-picker-wrap.k-state-border-down{padding-bottom:0px!important;}
.k-picker-wrap .k-select{width:auto;padding:10px 9px 2px!important;border-left-width:1px!important}
.k-picker-wrap.k-state-focused .k-input{border:0 none!important;}
input.k-input[type="text"]{font-size:18px!important;height:23px;line-height:23px;margin:0;padding:6px 2px!important;width:105px!important;border:none;border-radius:6px 0 0 6px!important;}

input.red,select.red,textarea.red,.input-append.red,.input-prepend.red,.k-picker-wrap.red{
	border-color:#ff0000;
	color:#7f5050;
	background-color:#fff0f0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 88, 88, 0.6);
}
.k-error-colored{
	border:1px solid !important;
	border-color:#ff0000 !important;
	color:#7f5050;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 88, 88, 0.6) !important;
}
.k-error-colored > select {color:#7f5050;border-color:#dfd0d0;background-color:#fff0f0}
td.red,label.red{color:#ff0000;font-weight:bold}

ol li{list-style:decimal inside;margin:0 0 7px;}
ol li a{color:#35a4c3;text-decoration:none;}
ol li a:hover{text-decoration:underline;}
/******************** Footer ******************/
footer{ padding:0px 0px 0px;color:#484c4f;font-size:11px;width:940px; margin: 0 auto; height:58px;}
footer a{color:#447185;text-decoration:none;position:relative;}
footer a>span{position:absolute;width:100%;left:0;bottom:0;height:1px;opacity:0;background:#fff;}
footer li{position:relative;}
footer li>span{background:#447185;position:absolute;overflow:hidden;font-size:0;line-height:0;display:block;left:0;}

.footer-text1 {float:left; padding-top:16px; padding-right:5px;}
.foot-text1 {font-size:11px; line-height:18px; color:#484c4f; float:right;padding-top:5px; padding-right:0px; float:right;}
.foot-text1 a {color:#484c4f; margin-left:2px; text-decoration:none;}
.foot-text1 a:hover {text-decoration:underline;}

ins{background:#166cc8;padding:0 5px;text-decoration:none;color:#fff;}
em{color:#166cc8; font-style:normal}
del{text-decoration:line-through;}
abbr,dfn{cursor:help;vertical-align: middle;/*color:#166cc8;*/}
dfn{letter-spacing:2px;font-family:Verdana, Geneva, sans-serif;color:#166cc8; font-style:normal}
sup,sub{font-size:0.8em;}
sub{vertical-align:bottom}
hr.admin {height:2px;margin:10px 0}
small{font-size:10px;font-family:Verdana,Geneva,sans-serif;} 
big{font-size:21px;}
q{font-family:"Courier New",Courier,monospace;color:#166cc8;font-size:15px;}
/*abbr,acronym{text-transform:uppercase;}*/
pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;display:block}
code{background-color:#f6f6f6;display:block;color:#333;padding:3px 2px 3px 5px;line-height:1.67em;border:1px dotted #333}
pre{white-space:pre}
font{vertical-align:bottom}

/* Layouts navigation */
.layouts-nav{width:100%;overflow:hidden;padding-bottom:30px !important}
.layouts-nav li{float:left;margin-right:20px;background:none !important;padding:0 !important}
.layouts-nav li a{float:left;background:#333;padding:2px 10px;color:#fff;text-decoration:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;position:relative;margin-right:10px;cursor:pointer;}
.layouts-nav li a:hover{background:#aaa}

.Dropcap {background:#fff; width:59px; height:22px; border-radius:6px; text-transform:uppercase; font-size:14px; line-height:18px; color:#3d8dee; font-weight:bold; padding:5px 0px 0px 14px; float:left;margin-right:13px;}

/* Definition list style */
dl dt{margin:0 0 20px;color:#373737; font-weight:bold;}
dl dd span{display:inline-block;/*width:130px;*/}
dl dd a{text-decoration:none; font-weight:bold; color:#166cc8; /*margin-left:14px;*/}
dl dd a:hover{text-decoration:underline;}

/* Table styling */
noindex:-o-prefocus, table.list{border-collapse:separate;border-spacing:0;}
noindex:-o-prefocus, table.list td {border-collapse:separate;border-spacing:0;}
table.list thead:first-child tr:first-child th,table.list tbody:first-child tr:first-child th,table.list tbody:first-child tr:first-child td{border-top:0 none;}

table.list thead tr:first-child th:first-child,table.list tbody tr:first-child th.round{
	-webkit-border-top-left-radius:8px;
	-webkit-border-radius:8px 0 0;
	border-top-left-radius:8px;
}
table.list tr:first-child th:last-child,table.list tr:first-child td.round{
	-webkit-border-top-right-radius:8px;
	-webkit-border-radius:0 8px 0 0;
	border-top-right-radius:8px;
	border-right:0 none;
}
table.list tr td:last-child,table.list tr th:last-child{border-right:0 none;}
table.list tr th.border{border-right:1px solid}
table.list tr:last-child td{border-bottom:0 none;}
table.list tbody tr:last-child th:first-child,table.list tr:last-child td:first-child{
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-radius:0 0 0 8px;
	border-bottom-left-radius:8px;
}
table.list tr:last-child td:last-child{
	-webkit-border-bottom-right-radius:8px;
	-webkit-border-radius:0 0 8px 0;
	border-bottom-right-radius:8px;
}
table.list thead th,table.list tbody th,table.list thead td,table.list tbody td{
	border-color:#e9e9e4;
	border-style:solid;
	border-width: 1px 1px 0 0;
	padding:8px;
	background:#fff;
	vertical-align:middle;	
	font-size:12px;
}
table.list thead th,table.list tbody th{background:#157DFB;color:#fff;font-weight:normal;}
table.list tbody tr:hover:not(.detail):not(.current) td{background:#eee;}
table.list tbody td a.button{padding:0}
table.small td,table.small th{padding:10px 4px!important;font-size:14px;line-height:15px;}

.bold,.bold a[href]{font-weight:bold;color:red;}
table.list tr.noread td{background:#eee;font-weight:bold}
table.list tr.noread td font{font-weight:normal!important}

table.list thead th.tbl,table.list tbody td.tbl{border-right:0 none;padding:2px;}
table.list tbody td.tbl{border-collapse:collapse;empty-cells:show;outline:medium none;}

/* Information box */
.info-box,.download-box,.notification-box,.error-box{
	border-radius:8px;
	padding:20px 30px 20px 110px;
	margin:20px 0;
	position:relative;
	min-height:35px;
	font-size:18px;
}
.info-box{color:#64757f;background:#e1f2fc;border:1px solid #68a2cf}
.download-box{color:#697a58;background:#eeffdd;border:1px solid #a3c159}
.notification-box{color:#79725b;background:#fef7e0;border:1px solid #e6c555}
.error-box{color:#DC143C;background:#feebeb;border:1px solid #ff9999}
.info-box ul,.download-box ul,.notification-box ul,.error-box ul{list-style-type:disc}
.info-box .icon,.download-box .icon,.notification-box .icon,.error-box .icon{position:absolute;left:34px;top:16px;text-shadow: 0 1px 0 #FFFFFF;margin:0;padding:0;}
.info-box .icon{color:#64757f}
.download-box .icon{color:#697a58}
.notification-box .icon{color:#79725b}
.error-box .icon{color:#DC143C}

/* Login menu */
.user{padding:12px 20px 0;text-align:center;}
.user span,.user a[href],.tabs a,.notifier-panel a{
	position:relative;
	margin-left:30px;	
	vertical-align:middle!important;
	text-decoration:none!important;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;	
}
.user span:first-of-type{margin-left:0;color:#fff;}
.user a:hover,.notifier-panel a:hover{color:#c3f667;}
.user .user-login{	
	color:#fff;
	display:inline-block;
	border-bottom:1px dashed #fff;
	margin:0 0 3px 0;	
}
.tabs a{margin-left:0px;}
.tabs a:hover,.tabs a.active,.tabs a.active i{color:#fff;}
.tabs.padtop.fright a{color:#a99f9a;}
.tabs.padtop.fright a:hover,.tabs.padtop.fright a.active,.tabs.padtop.fright a.active i{color:#157dfb;}
.new{
	position:absolute;
	top:-10px;
	right:-5px;
    z-index:999;	    
    height:14px; 
	width:14px;
	font:bold 11px/12px Tahoma,Arial;
	text-decoration:none;
    text-align:center;
	padding:3px;    
	color:#fff;
	background:#FF0000;	
	border-radius:14px;
}

/* Pagination */
span.currentStep,a.step,span.step,a.prevLink,a.nextLink{	
	width:auto;
	height:20px;
	display:inline-block;	
	text-align:center;
	font-weight:bold;
	line-height:20px;
	padding: 0 5px;
}
span.currentStep{	
	background:#fff;
	border-radius:5px;
	color:#3f5765;	
	cursor:default;		
}
a.prevLink, a.nextLink{text-decoration:none}

/* Autocomplete */
.autocomplete {	
	position: absolute;	
	z-index: 1000;
	background: #FFFFA3;
	width: 280px;
	padding:0;
	margin: 0;
    border: 1px solid #999;
	cursor: default;
	text-align: left;
	max-height: 350px;
	overflow: auto;	
	_height: 350px;
	_margin: 0px 6px 6px 0;
	overflow-x: hidden;
}
.autocomplete .selected {	
	font: normal 14px/14px Tahoma,Arial;	
	background: #3487D5;
	color: white;		
}
.autocomplete div { white-space: nowrap; padding: 2px 4px;}
.autocomplete strong { color: #3399FF; }

.tabs {
    padding: 8px 0;
}
.tabs ul {
    height: 36px;
    list-style: none outside none;
    padding: 0;
	margin: 0;
}
.tabs li {
    background: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.tabs .selected {
    margin-bottom: 0;
    position: relative;
}
.tabs .selected a, .tabs li a:hover  {    
    background: #157DFB;
	border-color: #157DFB;
    color: #fff;
}
.tabs .selected a {
	border-left: 1px solid #157DFB; 
	border-right: 1px solid #157DFB; 
}
.tabs li a {
    font:400 15px/20px Arial;
    background: #fff;
	border-style: solid;
	border-color: #c6c6c6;
	border-width: 2px 1px 0 1px;	
    color: #000;
    display: block;
    padding: 8px;
    text-decoration: none;
}
.tabs li:first-child a { 
	border-radius: 8px 0 0 0;
	border-left-width: 2px; 
}
.tabs li:last-child a { 
	border-radius:0 8px 0 0; 
	border-right-width: 2px;
}
.tabs .tab-content {
	border-radius: 0 8px 8px 8px;
    background: #fff;
	border: 2px solid #157DFB;
    clear: both;
    overflow: auto;
    width: auto;
}
.tabs .tab-content .inner {
    padding: 10px;
	font:400 15px/20px Arial;
}
.tabs p {
    margin-bottom: 5px;
}
.tabs .tab-content strong {
    color: #000;
}
.tabs .tab-content .notification-box ul, .tabs .tab-content .error-box ul {
    height: auto;
    list-style-type: disc !important;
}
.tabs .tab-content .notification-box ul li, .tabs .tab-content .error-box ul li {
    float: none;
}

.tabs .tab-content li a.button {
	display:inline-block;	
	vertical-align:middle;	
	font:normal 18px/18px Tahoma,Arial,sans-serif;
	border:none;
}
.tabs .tab-content li a.button{line-height:25px;padding:6px 15px;text-decoration:none;}
.tabs .tab-content li a.button:hover,.button:hover{color:#000}
.tabs .tab-content li a.button i{line-height:18px;min-width:14px;width:14px\0/}
.tabs .tab-content li a.button [class^="icon-"]:before,a.button[class*=" icon-"]:before{cursor:pointer!important}
.tabs .tab-content li a{color:#157dfb;outline:none;cursor:pointer;text-decoration:underline;}
.tabs .tab-content li a:hover  {
	background: #fff;
	border-color: #fff;
    color: #fff;
}
.tabs .tab-content li:first-child a { 
	border-radius: 0;
	border-left-width: 0px;
}
.tabs .tab-content li:last-child a { 
	border-radius: 0;
	border-right-width: 0px;
}
.notifier-panel {
    position: fixed;
	bottom: 0;
	right: 20px;
    background: #000/*#157dfb*/;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 2px rgba(0,0,0, 0.9);
    height: 30px;
    max-width: 1000px;
    white-space: nowrap;
    z-index: 1001;
	padding: 12px 20px 0;
	text-align: center;
}
.notifier-panel a:first-of-type{margin-left:0;}
fieldset.color{border:2px groove #fff;padding:5px;}
fieldset.color legend{font-size:11px;padding:0 5px;}
fieldset.color.center{text-align:center;}
select[name="color"] option{background-color:#fff;background-position:0 50%;margin:2px;padding-left:30px;}
select[name="color"] option[selected]{color:#000;}
.messages {
    position: absolute;
    left: 25%;
    z-index: 999;    
}
.glossy {
	background: #ffffff top left repeat;	
	border: 1px solid #999999;
	color: #666666 !important;
	text-shadow: 0 1px 1px white;
    border-radius: 0.3em;    
	-moz-box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);		
  	-webkit-box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);		
	box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 0 0.2em rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
	padding: 20px;
}